<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SWIFT3 _ UIKeyboard Notification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>057B4BAC1EBB888200585EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057B4BC01EBB888300585EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057B4BCB1EBB888300585EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
